<font face="Alien League II"><h2>Here is your order</h2>
<h3>
<p align="right">Vendor: <align="right" style="color:red"><%= @vendorsweet.vendor.name %></p>
<p align="right">Sweet: <align="right" style="color:red"><%= @vendorsweet.sweet.name %></p>
<p align="right">At the sweet price of : <align="right" style="color:red"><%= @vendorsweet.price %> <align="right" style="color:black">cents</p>
</h3>
</font>