<%= link_to "Go Back", vendors_path %><br>

<h3>New Vendor</h3>
<ul>
    Name: <%= @vendor.name %><br>
</ul>

<%= link_to "Create Another?", new_vendor_path %><br>
<%= link_to "View All Vendors", vendors_path %>