<h1>All Sweets</h1>

<ul>
  <% @sweets.each do |sweet| %>
    <li><%= link_to sweet.name, sweet %></li>
  <% end  %>
</ul>

<%= link_to "Vendors", vendors_path%> |
<%= link_to "New Connection", new_vendor_sweet_path%>
