<%= link_to "Go Back", sweets_path %><br>

<h3>New Sweet</h3>
<ul>
    Name: <%= @sweet.name %><br>
</ul>

<%= link_to "Create Another?", new_sweet_path %><br>
<%= link_to "View All Sweets", sweets_path %>
